{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    <style>
        {{ include('@ProfilerCommandRunner/Collector/command_runner.css.twig') }}
    </style>

    <script>
        function runCommand(formElement) {
            var formData = new FormData(formElement);

            fetch('{{ path('_profiler_run_command') }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then((response) => {
                    document.querySelector('#sf-toolbar-block-{{ name }}-response-title').innerHTML = './bin/console ' + formData.get('command');
                    document.querySelector('#sf-toolbar-block-{{ name }}-response-body').innerHTML = response;
                });

            return false;
        }
    </script>

    <div class="sf-toolbar-block sf-toolbar-block-{{ name }} sf-toolbar-status-{{ status|default('normal') }} {{ additional_classes|default('') }}" {{ block_attrs|default('')|raw }}>
        <form onsubmit="return runCommand(this);">
            <label>
                <input type="text" name="command" placeholder="example: list --raw">
            </label>
            <button type="submit">Run</button>
        </form>

        <div class="sf-toolbar-info">
            <div class="sf-toolbar-info-piece">
                <h3 id="sf-toolbar-block-{{ name }}-response-title"></h3>
            </div>
            <div class="sf-toolbar-info-piece">
                <div id="sf-toolbar-block-{{ name }}-response-body">
                    <p>Type command in input below & hit [Run] to see server response.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}