{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    <style>
        #sf-toolbar-evozon-response-body {
            overflow: visible;
            white-space: pre;
            font-size: 14px;
            padding:10px;
        }
    </style>

    <script>
        function runCommand(formElement) {
            var formData = new FormData(formElement);

            fetch('{{ path('_profiler_run_command') }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then((response) => {
                    document.querySelector('#sf-toolbar-evozon-response-title').innerHTML = './bin/console ' + formData.get('command');
                    document.querySelector('#sf-toolbar-evozon-response-body').innerHTML = response;
                });

            return false;
        }
    </script>

    <div class="sf-toolbar-block sf-toolbar-block-{{ name }} sf-toolbar-status-{{ status|default('normal') }} {{ additional_classes|default('') }}" {{ block_attrs|default('')|raw }}>
        <form onsubmit="return runCommand(this);">
            <label>
                <input type="text" name="command">
            </label>
            <button type="submit">Run</button>
        </form>

        <div class="sf-toolbar-info">
            <div class="sf-toolbar-info-piece">
                <h3 id="sf-toolbar-evozon-response-title"></h3>
            </div>
            <div class="sf-toolbar-info-piece">
                <div id="sf-toolbar-evozon-response-body">
                    The output of the command is shown here.
                </div>
            </div>
        </div>
    </div>
{% endblock %}